@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .main * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html:focus-within {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
